
/* simple button styling */
button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.22);
  border: 1px grey solid;
}

button:hover {
  opacity: .8;
  cursor: pointer;
}


/* removes dot from ul */
ul {
  list-style-type: none;
}

/* loading spinner animation */
#loading-spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  visibility: hidden;
}

#loading-spinner.visibility {
  visibility: visible;
}

.load-bubble1, .load-bubble2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(100, 18, 107);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 1.8s infinite ease-in-out;
  animation: sk-bounce 1.8s infinite ease-in-out;
}

.load-bubble2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
