
body {
  text-align: center;
  background-color: rgb(89, 212, 250);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

/* Button styling */
.btn-pk {
  background-color: white;
  width: 150px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.22);
  margin: 6px;
  padding: 5px;
  border-radius: 7px;
  font-weight: bold;
}


/* Modal styling */

.modal-body {
  margin: 15px;
  border: 1px solid;
  border-radius: 10%;
}


/* loading spinner animation */
#loading-spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  visibility: hidden;
}

#loading-spinner.visibility {
  visibility: visible;
}

.load-bubble1, .load-bubble2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(149, 28, 160);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 1.8s infinite ease-in-out;
  animation: sk-bounce 1.8s infinite ease-in-out;
}

.load-bubble2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* Footer styling */
.footer-img {
  height: 30px;
  width: 30px;
  padding-bottom: 5px;
}

.footer-img:hover {
  transform: scale(1.2);
}
