
body {
  text-align: center;
  font-size: 20px;
  margin: auto;
}

a{
  text-decoration: none;
  color: purple;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 30px;
  background-color: grey;
  line-height: 0.1;
}
.page-header__item {
  text-align: left;
}

/* simple button styling */
button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: lightgrey;
  color: purple;
  border-radius: 7px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.22);
  border: 1px grey solid;
  font-size: 20px;
}

button:hover {
  background-color: purple;
  color: lightgrey;
  cursor: pointer;
}


/* removes dot from ul */
ul {
  list-style-type: none;
}

@supports (display: grid){
  .pokemon-list li {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 5px;
    list-style-type: none;
    max-width: 350px;
    margin: auto;
  }
}


/* loading spinner animation */
#loading-spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  visibility: hidden;
}

#loading-spinner.visibility {
  visibility: visible;
}

.load-bubble1, .load-bubble2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(100, 18, 107);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 1.8s infinite ease-in-out;
  animation: sk-bounce 1.8s infinite ease-in-out;
}

.load-bubble2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* Modal styling */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgb(243, 234, 108);
  padding: 10px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: rgb(80, 80, 80);
  text-decoration: underline;
  background-color: lightgrey;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}



.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  line-height: 0.1;
  padding-bottom: 30px;
  padding-top: 10px;
}

.footer-item {
  text-align: left;
  font-size: 14px;
}